.game-board {
  height: 90vh;
  width: 80%;
  margin: 0 auto;
  position: relative;
  transition: filter 1s;
}

.target {
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: 2px 2px 0px rgba(20, 33, 61, 0.7);
  position: absolute;
}

.in-game-stats {
  text-align: center;
}