.menu-btns {
  text-align: center;
  width: 24%;
  margin: 18vh auto;
}
.menu-btn {
  padding: 8px 0;
  list-style-type: none;
  width: auto;
  background: white;
  font-size: 2rem;
}
.menu-btn:hover {
  background-color: #b8dedc;
}
.top-btn {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.bottom-btn {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.target-size-select {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
.color {
  width: 35px;
  height: 36px;
  margin-left: 15px;
  border: none;
}
.minutes-select {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
